.page1 {

  .button-fab {
  position: absolute;
  overflow: hidden;
  width: 56px;
  min-width: 0;
  height: 56px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 56px;
  vertical-align: middle;
  background-clip: padding-box; }
  .button-fab ion-icon {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 2.8rem; }

[fab-center] {
  left: 50%;
  margin-left: -28px; }

[fab-top] {
  top: 16px; }

  [fab-middle] {
    top: 44%;
     }

[fab-right] {
  right: 40px;

  }

[fab-bottom] {
  bottom: 16px; }

[fab-left] {
  left: 16px; }

[fab-fixed] {
  position: fixed; }

}
